*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#ebedf0;
}

.container{
    width:90%;
    max-width:1100px;
    margin:40px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.top-buttons a{
    margin:0;
}

.top-buttons a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.top-bar h1{
    color:#333;
    margin: 0;
    text-align: left;

}

.top-bar button{
    background:#007bff;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.top-bar button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}

th{
    background:#007bff;
    color:white;
    padding:15px;
    text-align:left;
}

td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

tr:nth-child(even){
    background:#f9f9f9;
}

tr:hover{
    background:#eef5ff;
}

a{
    text-decoration:none;
    color:#007bff;
    font-weight:bold;
    margin:0 5px;
}

a:hover{
    color:#0056b3;
    text-decoration:underline;
}

h2{
    text-align:center;
    color:#777;
    margin-top:40px;
}

@media(max-width:768px){

    .top-bar{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    .container{
        width:95%;
        padding:20px;
    }
}