 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password | LearnHub</title>

   

    <link rel="stylesheet" href="{% static 'reset_password.css' %}">
</head>

<body>

    <div class="reset-container">

        <div class="logo">
            LearnHub
        </div>

        <h1>Reset Password</h1>

        <p class="description">
            Create a new password for your LearnHub LMS account.
        </p>

       
        
       {% if messages %}
       {% for message in messages %}
        <div class="error-message">
           <p style="color: red;">{{ message }}</p> 
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST">

            {% csrf_token %}

            <div class="form-group">

                <label for="password">
                    New Password
                </label>

                <input
                    type="password"
                    id="password"
                    name="password"
                    value=""
                    placeholder="Enter new password"
                    required
                >

            </div>


            <div class="form-group">

                <label for="confirm_password">
                    Confirm New Password
                </label>

                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required
                >

            </div>


            <button type="submit">
                Reset Password
            </button>

        </form>


        <div class="back-login">

            <a href="{% url 'login' %}">
                ← Back to Login
            </a>

        </div>

    </div>

</body>

</html>
